.profile__name {
  margin: 0;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 114%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  min-width: 100px;
  max-width: 288px;
}

@media screen and (max-width: 676px) {
  .profile__name {
    font-size: 27px;
    line-height: 33px;
  }
}

@media screen and (max-width: 320px) {
  .profile__name {
    max-width: 230px;
    margin-left: 24px;
  }
}
