.header__nav {
  display: flex;
  margin: 6px 0 0;
  padding: 0;
  font-size: 18px;
  line-height: 22px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.header__nav span {
  margin-right: 24px;
  color: #fff;
}

.header__sign-out {
  display: block;
  max-height: 22px;
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  color: #a9a9a9;
}

.header__sign-out {
  cursor: pointer;
}

/*Adaptive*/
/* @media screen and (max-width: 480px) {
  .header__nav {
    display: none;
  }
  .burger {
    cursor: pointer;
    width: 24px;
  }

  .burger .span {
    display: block;
    width: 24px;
    height: 3px;
    margin-bottom: 9px;
    background-color: #fff;
    position: relative;
    top: 0;
    right: 30px;
    transition: all 0.3s ease-in-out;
  }

  .burger_open .span:nth-child(2) {
    opacity: 0;
  }

  .burger_open .span:nth-child(1) {
    transform: rotate(45deg);
    top: 15px;
  }

  .burger_open .span:nth-child(3) {
    transform: rotate(-45deg);
    top: -9px;
  }
  .burger_open ~ .header__nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 18px;
  }
} */
