.element {
 max-width: 282px;
 background-color: #fff;
 border-radius: 10px;
 position: relative;
}

@media screen and (max-width: 732px) {
  .element {
    max-width: 340px;
    width: 100%;
  }
}

@media screen and (max-width: 510px) {
  .element {
    max-width: 468px;
  }
}
